
.main-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.masthead {
    width: 100%;
    height: 100vh;
    position: relative;
}

.masthead_video {
    scale: 1.4;
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    filter: blur(2px);
    object-fit: cover;
    pointer-events: none;
}



.masthead_text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    font-family: Arial, sans-serif;
    pointer-events: auto;
}

.masthead_text-area{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;    
    text-align: center;
    color:#FFFFFF;
}

.masthead_text01{
    overflow: hidden;    
    font-weight: 900;
    font-style: italic;
    font-size: 8vw;  
    line-height: 1;
}
.masthead_text02{
    font-weight: 400;
    font-size: 4.5vw;  
    font-style: italic;
    letter-spacing:-0.08em;
    line-height: 1;
    margin-top:1rem;
}

.masthead_linkbox{

  margin-top:1.6rem;
  display: inline-block; 
  padding: 0.3em 0.6em; 
  color: #ffffff; 
  background-color: rgb(222, 95, 25); 
  border: none; 
  border-radius: 8px; 
  text-align: center; 
  text-decoration: none; 
  cursor: pointer; 
  line-height: 1;
  justify-content: center;
  align-items: center;
}

.masthead_linktext{
    font-weight: 600;
    font-size: 2.5vw;
    letter-spacing:-0.06em;
}



/**/
.typo_area{position:relative; width:100%; margin:300px auto 225px; overflow:hidden;}
.typo_area span{display:block;}
.typo_area .typo_text01{line-height:1;  font-size:10vw; font-weight:700; letter-spacing:-0.06em; color:#FFFFFF;}
.typo_area .typo_text01 em{color: rgb(222, 95, 25);}

.typo_area .typo_text02{text-align:right;margin:15px 0 0 0; line-height:1; font-size:10vw; font-weight:100; letter-spacing:-0.06em; color:#FFFFFF;}
.typo_area .typo_text02 em{color: rgb(222, 95, 25);}

.typo_area .typo_text03{  line-height:63px; margin:40px 0 0 0; font-size:55px; color:#FFFFFF; text-align:center;}
.typo_area .typo_text03 em{color: rgb(222, 95, 25);}

.typo_area .typo_text04 {  margin:20px 0 0 0; line-height:28px;  font-size:20px; font-weight:400; color:#FFFFFF; text-align:center;}

/**/




