.footer-hr{
    margin-top:170px;
    width: 90%;
}
footer{
    height: 6rem;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.footer_logo{ 
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;  
    line-height: 1;
}

footer p{
    font-size:1rem;
    line-height:1;
    font-weight:500;
}
footer p:last-child{
    margin-bottom: 5px;
}