doctype html
html(lang="ko")
    head
        meta(charset = "utf-8")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header                
        main
            block content
        include partials/footer
    script(src="/static/js/base.js") 
    script(src="/static/js/header.js") 
    block scripts   
    block errorMessage