extends base


block content
    .welcome-header
        h1.welcome-header__title POTGBOX 회원가입
        p.welcome-header__text 새로운 계정을 만드세요
    if errorMessage
        p.errorMessage=errorMessage
    form(method="POST" class="login-form")
        input(placeholder="Username", name="username", type="text", required, autocomplete="username")
        input(placeholder="Email", name="email", type="email", required, autocomplete="email")
        input(placeholder="Password", name="password", type="password", required, autocomplete="passwor")
        input(placeholder="Confirm Password", name="password2", type="password", required, autocomplete="password2")
        input(type="submit", value="Join")
    div.login_go-register
        span Already have an account? 
        a(href="/login")
            em Log in now &rarr;