extends base.pug
include mixins/video

block content
    form(method="GET").search__form
        input(placeholder="Search by title",name="keyword", type="text")
        button
            i.fas.fa-search
    div(style="display:flex; flex-direction:column")
        .video-section
            .video-grid
                each video in videos 
                    +video(video)
                else
                    p.empty__message(style="width:100%") No videos found