extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="post" class="change-password")
        label(class="edit-profile_label" for="oldPassword") • Old Password
        input(placeholder="Old Password",type="password", name="oldPassword")
        label(class="edit-profile_label" for="newPassword") • New Password
        input(placeholder="New Password",type="password", name="newPassword")
        label(class="edit-profile_label" for="newPasswordConfirmation") • New Password Confirmation
        input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
        input(value="Change Password", type="submit")