extends ../base
include ../mixins/video


block content
    .video-section
    h1.profile-text(style=" font-weight:800; font-size:2.3rem; margin-top:25px; text-align:center; font-style:italic;") • #{user.username}'s POTG
        .video-grid
            if loggedIn
                a.video-area.add-area(href="/videos/upload")
                    .video-mixin_thumb
                    .video-mixin__data
                        .video-mixin__meta 
                            div 0 mins 
                            div 0 views 
            each video in user.videos
                +video(video)